.biru{
background: -moz-linear-gradient(top, #37a0d1, #337ab7);
border-bottom: 1px solid #11709c;
border-top: 1px solid #4aaad7;
color: #fff;
text-shadow: none;
}

.biru-langit{
background: -moz-linear-gradient(top, #6fe6fb, #30bbe4);
border-bottom: 1px solid #32bde5;
border-top: 1px solid #68daef;
color: #fff;
text-shadow: none;
}

.kuning{
background: -moz-linear-gradient(top, #e4b36e, #ec971f);
border-bottom: 1px solid #f0ae50;
border-top: 1px solid #eab76e;
color: #fff;
text-shadow: none;
}

.merah{
background: -moz-linear-gradient(top, #c85a57, #c9302c);
border-bottom: 1px solid #c9312d;
border-top: 1px solid #c85955;
color: #fff;
text-shadow: none;
}

.gambar{
margin: 15px 15px 0px 15px;
border: 2px solid white;
border-radius: 5%;
box-shadow: 0px 2px 10px rgba(3, 3, 3, 0.44) !important;
}

.imgbacground{
	background-image: url('../img/blackboard.jpg');
}

.jabatan{
color: white;
background: #6b6b6b;
width: 30%;
margin: 10px;
border: 2px #fff2f2 solid;
border-radius: 4%;
}

.title-putih{
color: #fff5f5;
}

.title-hitam{
color: #333;
}


